:root {
    --main-background-color: #ffffff;
    --background-buttons-color: #0E49B5;
    --accent-text-color: #767272;
    --product-card-footer-color: #3B3E66;
    --product-card-footer-background: #DAE2EA;
    --normal-text-size: 14px;
    --normal-text-line-heigth: 0.88;
    --like-button-color: #F05454;
    --main-border-color: #DDDADA;
    --box-shadow-color: rgba(0, 0, 0, 0.15);
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-align: center;
}
.fixed-nav {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: var(--main-background-color);
    box-shadow: 0px 3px 5px var(--box-shadow-color);
}
.navigation {
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.cart-icon {
    display: block;
    width: 36px;
    height: 28px;
    padding-top: 6px;
}
.cart-icon:hover {
    fill: #ffffff;
}

.cart-icon-border {
    width: 40px;
    height: 40px;
    border: 1px solid var(--accent-text-color);
    border-radius: 50%;
}
.cart-icon-border:hover {
    background-color: var(--background-buttons-color);
}
.logo {
    width: 120px;
}
.cart-btn {
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
    cursor: pointer;
}
.cart-count {
    width: 25px;
    position: absolute;
    top: 18px;
    left: -7px;
    border-radius: 50%;
    background-color: var(--background-buttons-color);
    font-size: var(--normal-text-size);
    line-height: 25px;
    color: #ffffff;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 512px;
    margin-top: 60px;
    background: url("/img/banners/airpods_pro_banner.png") center/cover no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    
}
.hero-title {
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
    padding-bottom: 22px;
}
.order-button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    line-height: 23px;
    background-color: var(--background-buttons-color);
    border: 2px solid var(--background-buttons-color);
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    
}

.order-button:hover {
    background-color: transparent;
    color: var(--background-buttons-color);
}
.order-button:disabled,
.modal-btn:disabled {
opacity: 0.5;
pointer-events: none;
cursor: none;
}
.svg-icon {
    cursor: pointer;

}
.search-container {
    height: 60px;
    margin: 30px 0px 10px;
    background: var(--main-background-color);
    border: 1px solid var(--main-border-color);
    box-shadow: 0px 0px 15px var(--box-shadow-color);
    border-radius: 5px;
}
.search-area{
    width: 100%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.search-area label {
    width: calc(100% - 100px);
    padding: 10px;

}
.search-input{
    width: calc(100% - 25px);
    padding: 10px;
    border: none;
    font-size: 18px;
    line-height: 21px;
    color: var(--accent-text-color);
}

.search-icon{
    border-radius: 50%; 
    border: 1px solid var(--background-buttons-color);
    background-color: var(--background-buttons-color);
    padding: 7px;
    cursor: pointer;
}

.search-icon:hover {
    background-color: #fff;
    fill: var(--background-buttons-color);
}
.search-icon path:hover {
    fill: #fff;
}

.product-card {
    position: relative;
    width: 300px;
    height: 480px;
    text-align: center;
    background: var(--main-background-color);
    border: 1px solid #E0E0E0;
    box-shadow: 0px 0px 25px var(--box-shadow-color);
    border-radius: 10px;
    margin: 20px 0px;
    cursor: pointer;
}
.liked-btn {
    position: absolute;
    top: 17px;
    right: 18px;
    width: 24px;
    height: 18px;
    border: none;
    background: none;
    cursor: pointer;
}
.product-card .liked-btn {
    background: url("/img/icons/like_empty.svg") 100%;
    }
.liked-btn:hover {
    top: 12px;
    width: 26px;
    height: 24px;
    background: url("/img/icons/like-btn-hover.svg") 100%;
}
.product-card .liked-btn.active {
    background: url("/img/icons/like_filled.svg") 100%;
}
.product-card-body {
    padding: 0px 25px 20px 14px;
}
.product-card-image {
    width: auto;
    height: 200px;
    margin: 10px 0px 25px;
}
.footer-product-card {
    height: 86px;
    background-color: var(--product-card-footer-background);
    font-size: var(--normal-text-size);
    line-height: var(--normal-text-line-heigth);
    padding: 15px 15px 0px;
    color: var(--product-card-footer-color);
    text-align: center;
}
.accent {
    font-weight: 700;
}
.product-card-list {
    display: flex;
    justify-content: space-between;
}
.product-card-list p {
    margin-bottom: 6px;
}
.icon-like {
    display: inline;
    position: relative;
}
.list-item-inline {
    display: flex;
    text-align: left;

}
.footer-heart {
    margin-right: 12px;
    fill: var(--like-button-color);
}
.product-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding-bottom: 4px;
    }
.price,
.left-in-stock {
    font-size: var(--normal-text-size);
    line-height: var(--normal-text-line-heigth);
    color: var(--accent-text-color);
    }
.product-card-body p {
    padding-bottom: 6px;
}
.gallery-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

.main-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.filter-col {
    width: 34%;
}

.filter-section {

    margin: 20px 0px;
    background: var(--main-background-color);
    border: 1px solid var(--main-border-color);
    box-shadow: 0px 0px 15px var(--box-shadow-color);
    border-radius: 5px;
}
.gallery-col {
    width: 63%;
}
/*                          cart start                      */
.cart-subtitle {
    font-size: 16px;
    line-height: 30px;
    color: var(--accent-text-color);
    padding-bottom: 30px;
}
.cart-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 37px;
    width: 435px;
    max-height: 90%;
    text-align: center;
    z-index: 1000;
    margin-top: 60px;
    padding: 20px 0px;
    background: var(--main-background-color);
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
}
.cart-overlay.active {
    display: block;
}
/* .show-cart {
    transform: translateX(0);
} */
.cart-content {
    padding: 10px 30px;
    width: 100%;
    height: 128px;
    background: #FFFFFF;
    border-top: 0.5px solid var(--main-border-color);;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.cart-product_decrease-btn {
    transform: rotate(180deg);
    width: 20px;
    height: 20px;
    background: #ebebf1;
    border-radius: 2px;
    background-image: url(../img/icons/arrow_left.svg);
    background-repeat: no-repeat;
    background-position: center;
    
  }
  .cart-product_amount {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #4191FF;
  }
  .cart-product_add-btn {
    width: 20px;
    height: 20px;
    background: #ebebf1;
    border-radius: 2px;
    background-image: url(../img/icons/arrow_left.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .cart-product_remove-btn {
    position: relative;
    width: 20px;
    height: 20px;
    background: rgba(248, 50, 69, 0.15);
    font-size: 0;
  }
  .cart-product_remove-btn_sign {
    position: absolute; 
    top: 8px; 
    left: -1px;
  }
  .cart-product_remove-btn_sign:before, .cart-product_remove-btn_sign:after {
    content: ""; 
    position: absolute; 
    width: 20px;
    height: 2px; 
    background: #F83245;
  }
  .cart-product_remove-btn_sign:before {
    transform: rotate(45deg);
  }
  .cart-product_remove-btn_sign:after {
    transform: rotate(-45deg);
  }
  
  .cart-product_add-btn:active {
    background-color: #ffffff;
  }
  
  .cart-product_remove-btn:active {
    background-color: #ffffff;
  }
  .cart-product_decrease-btn:active {
    background-color: #ffffff;
  }
.cart-item-image {
    width: 100px;
    height: 100px;
}

.cart-text-item {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}
.cart-text-accent {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    line-height: var(--normal-text-size);
    background-color: #EAF6FF;
    color: #4191FF;
    text-align: start;
}
.count-items {
    width: 125px;
    display: flex;
    justify-content: space-between;
}
.cart-footer {
    width: 100%;
    height: 50px;
    background: #EAF6FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    color: var(--accent-text-color);
    padding: 0px 45px;
}
.cart-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: #000000;
}
.cart-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #767272;
}
.accent-footer {
    font-weight: 700;
    color: #000000;
}
.cart-button {
    width: 250px;
    height: 40px;
    background: var(--background-buttons-color);
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 20px auto;
    cursor: pointer;
}
.arrow-icon {
    width: 20px;
    height: 20px;
    background-color: #3C44B1;
    fill: #ffffff;
}
.close-icon {
    fill: #F83245;
    background: #f8324650;
    border-radius: 50%;

}
.item-count {
    font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #4191FF;
}
/*                          cart end                      */
/*                         accordion                      */

.accordion-btn {
    width: 100%;
    height: 45px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: var(--product-card-footer-background);
    border: 1px solid var(--main-border-color);
    text-align: left;
    cursor: pointer;
    padding-left: 25px;
}
.accordion-btn:hover {
    background-color: var(--main-background-color);
}

.panel {
    padding: 0px 25px 30px 40px;
    display: block;
    flex-direction: column;
}
.text-accordion {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    cursor: pointer;
}
.text-accordion:hover {
    color: var(--background-buttons-color);
    font-weight: 700;
}
.price-list {
    width: 242px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.checkbox-list {
    width: 135px;
    height: 35px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}
.input-text {
    width: 190px;
    height: 38px;
    border: 1 px solid #E2E2E2;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
}
.checkbox {
    width: 15px;
    height: 15px;
    background: #C4C4C4;
    cursor: pointer;
    margin-right: 10px;

}
.checkbox:hover {
    background-color: var(--background-buttons-color);
}
.chackbox-panel {
    max-width: 100px;
    max-height: 315px;
    padding: 15px 40px;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;

}
.display-panel {
    max-height: 220px;

}
/*           modal            */
.modal {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    background-color: var(--main-background-color);
}
.modal-back {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100vh;
}
.modal-active {
    display: flex;
}
.modal-img {
    width: 30%;
    padding: 10px;
}
.modal-info {
    width: 40%;
    padding: 20px;
    border: 1px solid var(--main-border-color);
    border-top: none;
    border-bottom: none;
}
.price-block {
    width: 30%;
}
.price-block-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #3B3E66;
}
.modal-price-item {
    padding-bottom: 30px;
}
.modal-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #3B3E66;
}
.modal-btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: var(--background-buttons-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.modal-btn:hover {
    opacity: 0.8;
}
.modal-info-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #3B3E66;
    padding-bottom: 25px;
}
.modal-props-item {
    font-size: 14px;
    line-height: 16px;
    color: #767272;
    text-align: left;
    padding-bottom: 15px;
}
.modal-accent {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.modal-card-list {
    width: 300px;
    height: 80px;
    background: #DAE2EA;
    border-radius: 10px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 0px 10px;
}
.info-props {
    width: 96%;
    margin: 0 auto;
    margin-top: 30px;
}
.modal-button-section,
.accordion {
    position: relative;
}
.modal-arrow-icon,
.modal-arrow-icon-price {
    position: absolute;
    top: 10px;
    right: 8px;
    cursor: pointer;
}
/*                dropdown-filter         */
.select-price-sort-container {
    width: 162px;
    height: 154px;
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow-color);
    background-color: var(--main-background-color);
    position: absolute;
    top: 58px;
    right: 0;
    padding: 12px;
    z-index: 3;
    text-align: left;
    font-size: 12px;
    line-height: 14px;
    display: none;

}
select.select-list-price {
    background-color: transparent;
    border: none;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    overflow-y: auto;
    width: 140px;
    height: 140px;
    padding: 2px;
    cursor: pointer;
  }
.select-price-sort-title {
    color: var(--background-buttons-color);
    padding-bottom: 10px;
  
}
option.select-price-sort {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 24px;
    margin-bottom: 12px;
    padding: 4px;
}
option.asc::before {
    content: url(/img/icons/arrow-up.svg);
    display: block;
    width: 20px;
    height: 20px;
}
option.desc::before {
    content: url(/img/icons/arrow-down-dropdown.svg);
    display: block;
    width: 20px;
    height: 20px;
}
option:hover,
option.active,
option:checked {
    background-color: var(--product-card-footer-background);
    border-radius: 15px;
}
@media (max-width: 1000px) {
    .cart-overlay {
        right: 0;
    }
    .main-section {
        width: 100%;
        padding: 10px;
        padding-top: 0;
    }
    .hero-section {
        padding: 0px;
        height: 450px;
    }
    .product-card {
        width: 49%;
        height: auto;
    }
    .product-card-image {
        width: auto;
        height: 150px;
        margin: 5px 0px 15px;
    }
}
@media (max-width: 950px) {
    .panel {
        padding: 0px 0px 20px;
    }
    .price-list {
        display: block;
    }
    .input-text {
        width: 60%;
    }
    .price-list label {
        display: inline-block;
        width: 30%;
    }
    .chackbox-panel {
        padding: 15px;
    }
    .price-block-title {
        font-size: 28px;
        line-height: 34px;
    }
    .modal {
        width: 86%;
    }
    .modal-card-list {
        width: 96%;
    }

}
@media (max-width: 720px) {
    .main-row {
        width: 100%;
    }
    .hero-title {
        font-size: 54px;
        line-height: 64px;

    }
    .hero-section {
        background-size: 100%;
        height: 325px;
        background-color: #000000;
    }
    .filter-section {
        width: 100%;
    }
    .filter-col {
        width: 100%;
    }
    .product-card {
        width: 30%;
        height: auto;
        margin: 15px 0px 0px;
    }
    .product-card-image {
        width: auto;
        height: 100px;
    }
    .gallery-row {
        width: 154%;
    }
    .product-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
    }
    .product-card-list p {
        font-size: 12px;
        line-height: 14px;
    }
    .chackbox-panel {
        height: 150px;
    }
    .price-block-title {
        font-size: 22x;
        line-height: 28px;
    }

    .modal-info-title {
        font-size: 20px;
        line-height: 24px;
    }
    .modal-card-list {
        width: 96%;
        font-size: 12px;
        line-height: 14px;
    }
    .modal-btn {
        width: 80%;
    }
    .modal-props-item {
        padding-bottom: 5px;
    }
    .modal-price-item {
        padding-bottom: 10px;
    }
}
@media (max-width: 670px) {
    .gallery-row {
        width: 154%;
        justify-content: space-around;
    }
    .product-card {
        min-width: 190px;
    }
    .modal-card-list {
        display: none;
    }
    .modal-info-title {
        padding: 0px;
    }
    .chackbox-panel {
        height: 200px;
    }
}
@media (max-width: 540px) {
    .chackbox-panel {
        height: 230px;
    }
}