:root {
    --main-background-color: #ffffff;
    --background-buttons-color: #0E49B5;
    --accent-text-color: #767272;
    --product-card-footer-color: #3B3E66;
    --product-card-footer-background: #DAE2EA;
    --normal-text-size: 14px;
    --normal-text-line-heigth: 0.88;
    --like-button-color: #F05454;
    --main-border-color: #DDDADA;
    --box-shadow-color: rgba(0, 0, 0, 0.15);
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-align: center;
}
.fixed-nav {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: var(--main-background-color);
    box-shadow: 0px 3px 5px var(--box-shadow-color);
}
.navigation {
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.cart-icon {
    display: block;
    width: 36px;
    height: 28px;
    padding-top: 6px;
}
.cart-icon:hover {
    fill: #ffffff;
}

.cart-icon-border {
    width: 40px;
    height: 40px;
    border: 1px solid var(--accent-text-color);
    border-radius: 50%;
}
.cart-icon-border:hover {
    background-color: var(--background-buttons-color);
}
.logo {
    width: 120px;
}
.cart-btn {
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
    cursor: pointer;
}
.cart-count {
    width: 25px;
    position: absolute;
    top: 18px;
    left: -7px;
    border-radius: 50%;
    background-color: var(--background-buttons-color);
    font-size: var(--normal-text-size);
    line-height: 25px;
    color: #ffffff;
}

.hero-section {
    width: 100%;
    height: 512px;
    margin-top: 60px;
    background: url("/img/banners/airpods_pro_banner.png") center/cover no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    
}
.hero-title {
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
    padding-bottom: 22px;
}
.order-button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    line-height: 23px;
    background-color: var(--background-buttons-color);
    border: 2px solid var(--background-buttons-color);
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    
}
.order-button:hover {
    background-color: transparent;
    color: var(--background-buttons-color);
}
.svg-icon {
    cursor: pointer;
    padding-top: 15px;

}
.search-area{
    margin: 30px 0px 10px;
    padding: 0px 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-background-color);
    border: 1px solid var(--main-border-color);
    box-shadow: 0px 0px 15px var(--box-shadow-color);
    border-radius: 5px;
}
.search-input{
    width: 85%;
    padding: 10px;
    border: none;
    font-size: 18px;
    line-height: 21px;
    color: var(--accent-text-color);
}
.search-icon{
    border-radius: 50%; 
    border: 1px solid var(--background-buttons-color);
    background-color: var(--background-buttons-color);
    padding: 7px;
    cursor: pointer;
}
.search-icon:hover {
    background-color: #fff;
    fill: var(--background-buttons-color);
}
.search-icon path:hover {
    fill: #fff;
}

.product-card {
    position: relative;
    width: 300px;
    height: 480px;
    text-align: center;
    background: var(--main-background-color);
    border: 1px solid #E0E0E0;
    box-shadow: 0px 0px 25px var(--box-shadow-color);
    border-radius: 10px;
    margin: 20px 0px;
    cursor: pointer;
}
.liked-btn {
    position: absolute;
    top: 17px;
    right: 18px;
    width: 20px;
    height: 18px;
    border: none;
    background: none;
    cursor: pointer;
}
.liked-btn:hover svg {
    fill: #F05454;
}
.product-card-body {
    padding: 0px 25px 20px 14px;
}
.product-card-image {
    width: auto;
    height: 200px;
    margin: 10px 0px 25px;
}
.footer-product-card {
    height: 86px;
    background-color: var(--product-card-footer-background);
    font-size: var(--normal-text-size);
    line-height: var(--normal-text-line-heigth);
    padding: 15px 15px 0px;
    color: var(--product-card-footer-color);
    text-align: center;
}
.accent {
    font-weight: 700;
}
.product-card-list {
    display: flex;
    justify-content: space-between;
}
.product-card-list p {
    margin-bottom: 6px;
}
.icon-like {
    display: inline;
    position: relative;
}
.list-item-inline {
    display: flex;
    text-align: left;

}
.footer-heart {
    margin-right: 12px;
    fill: var(--like-button-color);
}
.product-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding-bottom: 4px;
    }
.price,
.left-in-stock {
    font-size: var(--normal-text-size);
    line-height: var(--normal-text-line-heigth);
    color: var(--accent-text-color);
    }
.product-card-body p {
    padding-bottom: 6px;
}
.gallery-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

.main-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.filter-col {
    width: 34%;
    height: 374px;
   
}
.filter-section {
    margin: 20px 0px;
    min-height: 374px;
    background: var(--main-background-color);
    border: 1px solid var(--main-border-color);
    box-shadow: 0px 0px 15px var(--box-shadow-color);
    border-radius: 5px;
}
.gallery-col {
    width: 63%;
}
/*                          cart start                      */
.cart-subtitle {
    font-size: 16px;
    line-height: 30px;
    color: var(--accent-text-color);
    padding-bottom: 30px;
}
.cart-overlay {
    position:fixed;
    top: 0;
    right: 0;
    width: 435px;
    height: auto;
    background-color: #fff;
    text-align: center;
    z-index: 1;
    padding: 20px 0px;
    margin-top: 60px;
    background: var(--main-background-color);
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    visibility: hidden;
}
.show-cart {
    transform: translateX(0);
}
.cart-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 26px;
    width: 100%;
    height: 128px;
    background: #FFFFFF;
    border-top: 0.5px solid var(--main-border-color);;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;

}
.cart-item-image {
    width: 100px;
    height: 100px;

}
.cart-text-item {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}
.cart-text-accent {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    line-height: var(--normal-text-size);
    background-color: #EAF6FF;
    color: #4191FF;
    text-align: start;
}
.count-items {
    width: 125px;
    display: flex;
    justify-content: space-between;
}
.cart-footer {
    width: 100%;
    height: 50px;
    background: #EAF6FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: var(--accent-text-color);
    padding: 0px 45px;
}
.accent-footer {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.cart-button {
    width: 250px;
    height: 40px;
    background: var(--background-buttons-color);
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 20px auto;
    cursor: pointer;
}
.arrow-icon {
    width: 20px;
    height: 20px;
    background-color: #3C44B1;
    fill: #ffffff;
}
.close-icon {
    fill: #F83245;
    background: #f8324650;
    border-radius: 50%;

}
.item-count {
    font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #4191FF;
}
/*                          cart end                      */
@media (max-width: 1000px) {
    .main-section {
        width: 100%;
        padding: 10px;
        padding-top: 0;
    }
    .hero-section {
        padding: 0px;
        height: 450px;
    }
    .product-card {
        width: 49%;
        height: auto;
    }
    .product-card-image {
        width: auto;
        height: 150px;
        margin: 5px 0px 15px;
    }
}

@media (max-width: 700px) {
    .main-row {
        width: 100%;
    }
    .hero-title {
        font-size: 54px;
        line-height: 64px;

    }
    .hero-section {
        background-size: 100%;
        height: 300px;
        background-color: #000000;
    }
    .search-area {
        margin: 10px 0px;
    }
    
    .filter-col {
        width: 100%;
    }
    .gallery-col {
        margin-top: 10px;
        width: 100%;
    }
    .product-card {
        width: 30%;
        height: auto;
    }
    .product-card-image {
        width: auto;
        height: 100px;
    }

    .product-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
    }
    .product-card-list p {
        font-size: 12px;
        line-height: 14px;
    }
}
@media (max-width: 650px) {
    .gallery-row {
        justify-content: space-around;
    }
    .product-card {
        min-width: 190px;
    }
}